/*
 *Name: Nicholas Perry
 *UnityID: njperry2
 *Date: 9/16/2023
 *Assignment: Independent Assignment 4
 *Description: CSS portion of IA4
 */

#br-color{
 background-color: #0F000F;
} 

p {
    color: #FF00FF;
}

.table-border {
    border: 1px solid #000000;
}

#photo-resize {
    max-width: 200px;
    max-height: 250px;
    border: 2px solid;
    border: outset #00FF00;
}
