/*
 *Name: Nicholas Perry
 *UnityID: njperr2
 *Date: 9/16/2023
 *Assignment: Guided Lab 4
 *Description: CSS portion of GL4
 */
 
p {
    property: value;
}

.class {
    property: value;
}

#id {
    property:value;
}
